:root {
    --cosmicBlack: #0C0C0C;
    --eldritchPurple: #6A0DAD;
    --abyssalBlue: #04035C;
    --voidGray: #333333;
    --otherworldlyGreen: #00A896;
    --etherealYellow: #FFD700;
    --shadowedVerdantGreen: #004D40;
    --mistyGray: #CCCCCC;
    --etherealBlue: #4A4AFF;
    --shadowedViolet: #4F0080;
}

/* **MOVE THIS CODE & VARIABLES TO A GLOBAL CSS SHEET** */
body {
    background-color: var(--cosmicBlack);
}

/* Header Organization */
.contHeader {
    background-color: var(--otherworldlyGreen);
    display: flex;
    border: solid;
    aspect-ratio: 16;
    font-size: 4vw;
}

.btnHeader {
    color: var(--cosmicBlack);
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    text-align: center;
    width: 100%;
    text-decoration: none;
}

/* Main Organization */
.contMain {
    background-color: var(--shadowedViolet);
    margin: 0;
    display: flex;
    border: solid;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    justify-content: space-evenly;
    aspect-ratio: 13 / 5;
}

.contLeft {
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: center;
    margin: 5%;
    height: 75%;
    aspect-ratio: 16 / 9;
    border: solid;
}

.contRight {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    text-align: center;
    margin: 5%;
    height: 75%;
}

.contAnnouncements {
    background-color: var(--voidGray);
    overflow: scroll;
    text-align: left;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

/* Announcements Organization and Formatting */
.announcementHeader {
    color: var(--etherealYellow);
    font-size: 3vw;
    text-decoration: none;
}

.announcementContent {
    color: var(--mistyGray);
    font-size: 1.5vw;
}

/* Button Organization and Formatting */
.btnPrimary {
    background-color: var(--etherealBlue);
    color: var(--cosmicBlack);
    font-size: 4vw;
    border: solid;
    text-decoration: none;
}

.btnPrimary:hover {
    background-color: var(--otherworldlyGreen);
}

.btnSecondary {
    background-color: var(--etherealBlue);
    color: var(--cosmicBlack);
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    text-decoration: none;
    font-size: 2.5vw;
}

.btnSecondary:hover {
    background-color: var(--otherworldlyGreen);
}

/* Footer Organization */
.contFooter {
    background-color: var(--abyssalBlue);
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    border: solid;
}

.contFooterLeft {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 2%;
    border: solid;
}

.contFooterRight {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 30%;
    margin: 2%;
    border: solid;
}

.textFooter {
    color: var(--mistyGray);
    text-align: center;
    padding: 5%;
}

.btnFooter {
    color: var(--etherealYellow);
    margin: auto;
    padding: 4px;
    text-decoration: underline;
}

/* Misc. */
hr {
    background-color: var(--cosmicBlack);
    height: 0.25vw;
    border: none;
}

/* Mobile Scalability */
@media screen and (max-width: 1280px){
    .btnHeader {
        height: 150%;
        font-size: 5vw;
    }
    
    .contMain {
        flex-wrap: wrap;
    }

    .contLeft {
        height: 200%;
        width: 90%;
        margin: 2%;
    }

    .btnPrimary {
        font-size: 6vw;
    }

    .announcementHeader {
        font-size: 5vw;
    }

    .contAnnouncements {
        padding-top: 5%;
        padding-left: 3%;
        padding-right: 3%;
    }

    .announcementContent {
        font-size: 3vw;
        padding-top: 0%;
        padding-bottom: 3%;
    }

    .contRight {
        height: 200%;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: baseline;
        padding: 1%;
    }

    .btnSecondary {
        width: 33%;
        font-size: 5vw;
        padding: 3vw;
    }

    .contFooter {
        flex-wrap: wrap;
    }

    .contFooterLeft {
        flex-wrap: wrap;
        margin: 3%;
    }

    .contFooterRight {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
}